/* vietnamese */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('fonts/NUrn2XQrRfyGZp5MknntaRJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('fonts/s2PXW4WrV3VLrOUpHiqsfRJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('fonts/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*.jssorb057 .i {
        position: absolute;
        cursor: pointer;
      }
      
      *.jssorb057 .i .b {
        fill: none;
        stroke: #fff;
        stroke-width: 2000;
        stroke-miterlimit: 10;
        stroke-opacity: 0.4;
      }
      
      .jssorb057 .i:hover .b {
        stroke-opacity: .7;
      }
      
      .jssorb057 .iav .b {
        stroke-opacity: 1;
      }
      
      .jssorb057 .i.idn {
        opacity: .3;
      }
      
      .jssora073 {
        display: block;
        position: absolute;
        cursor: pointer;
      }
      
      .jssora073 .a {
        fill: #ddd;
        fill-opacity: .7;
        stroke: #000;
        stroke-width: 160;
        stroke-miterlimit: 10;
        stroke-opacity: .7;
      }
      
      .jssora073:hover {
        opacity: .8;
      }
      
      .jssora073.jssora073dn {
        opacity: .4;
      }
      
      .jssora073.jssora073ds {
        opacity: .3;
        pointer-events: none;
      }
      
      html.ios {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
      
      html.ios,
      html.ios body {
        height: initial !important;
      }
      
      @media screen and (max-width: 767px) {
        #sticky {
          visibility: hidden;
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
      #sitename{
        text-align: center !important;
        padding-left: 0px !important;
      }
    }
    @import url('jquery.sticklr.dark.css');

    .nav {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }