*.jssorb057{
    .i:hover .b {
        stroke-opacity: .7;
    }
    .iav .b {
        stroke-opacity: 1;
    }
    .i {
        .idn {
            opacity: .3;
        }
        .b {
            fill: none;
            stroke: #fff;
            stroke-width: 2000;
            stroke-miterlimit: 10;
            stroke-opacity: 0.4;
        }
        position: absolute;
        cursor: pointer;
    }

}
            
.jssora073 {
    .a {
        fill: #ddd;
        fill-opacity: .7;
        stroke: #000;
        stroke-width: 160;
        stroke-miterlimit: 10;
        stroke-opacity: .7;
    }
    :hover {
        opacity: .8;
    }
    .jssora073dn {
        opacity: .4;
    }
    .jssora073ds {
        opacity: .3;
        pointer-events: none;
    }
    display: block;
    position: absolute;
    cursor: pointer;
}
            
html.ios,
html.ios body {
    height: initial !important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
            

@media screen and (max-width: 767px) {
    #sticky {
        visibility: hidden;
        display: none;
    }
}

.login{
    .sitename{
        @media screen and (max-width: 767px) {
            text-align: center !important;
            padding-left: 0px !important;
        }
        padding-left:100px; 
        font-size:2.4em;
    }
    .title{
        padding-top: 60px; 
        font-size: 4em;
        text-align: center;
    }
    .signup{
        .text{
            font-size:1.3em;
            text-align: center;
        }
        .link{
            color: orange;
        }
    }
    .resetting.link{
        color: orange;
    }
    .button{
        .submit{
            font-size:1.5em;
        }
        text-align: center;
    }
    .username.label{
        font-size: 1.3em;
    }
    .password.label{
        font-size: 1.3em;
    }
    .social.icon{
        font-size: 1.3em;
    }
}

.service{
    .slider{
        .top{
            position:relative;
            margin:0 auto;
            top:0px;
            left:0px;
            width:980px;
            height:380px;
            overflow:hidden;
            visibility:hidden;
        }
        .bullet{
            position:absolute;
            bottom:12px;
            right:12px;
        }
        .circle{
            width:16px;
            height:16px;
        }
        .arrow{
            .left{
                left:30px;
            }
            .right{
                right:30px;
            }
            width:50px;
            height:50px;
            top:0px;
        }
        .svg{
            .arrow{
                .left{}
                .right{}
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
            .circle{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        }
        .slides{
            cursor:default;
            position:relative;
            top:0px;
            left:0px;
            width:980px;
            height:380px;
            overflow:hidden;
        }
        .image{
            margin-top:-19px;
            position:relative;
            top:50%;
            width:38px;
            height:38px;
        }
        .loading{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            text-align:center;
            background-color:rgba(0,0,0,0.7);
        }
        .tab{
            padding-top: 10px;
        }
    }
    .breadcrumbs{
            background-color: #fff7e9;
        }
    .name{
        text-align: center;
    }
    .rating{
        padding-top: 30px;
    }
    .features{
        padding-top: 10px;
    }
    .accordions{
        .top{
            padding-top: 15px;
        }
    }
    .form{
        height: 85.5vh;
    }
}

        @import url('jquery.sticklr.dark.css');

        header {
        background-color: #fff7e9 !important;
        transition:
            box-shadow 0.5s ease,
            padding 0.5s ease !important
        ;
    }

        body{
            background-color: #fff7e9;
        }

        #footer{
        text-align: center;
        background-color: #FFB74D;
        padding-top: 20px;
        }

        #context{
        text-align: center;
        }
            #content{
            background-color: #fff7e9 !important;
            }

        a{
            color: black;
        }

        .brand-image{
        width: 100px;
        height: 40px;
        text-align: center; 
        }

        #site-statement{
        background-color: #ffe6b5;
        }