*.jssorb057 .i {
        position: absolute;
        cursor: pointer;
      }
      
      *.jssorb057 .i .b {
        fill: none;
        stroke: #fff;
        stroke-width: 2000;
        stroke-miterlimit: 10;
        stroke-opacity: 0.4;
      }
      
      .jssorb057 .i:hover .b {
        stroke-opacity: .7;
      }
      
      .jssorb057 .iav .b {
        stroke-opacity: 1;
      }
      
      .jssorb057 .i.idn {
        opacity: .3;
      }
      
      .jssora073 {
        display: block;
        position: absolute;
        cursor: pointer;
      }
      
      .jssora073 .a {
        fill: #ddd;
        fill-opacity: .7;
        stroke: #000;
        stroke-width: 160;
        stroke-miterlimit: 10;
        stroke-opacity: .7;
      }
      
      .jssora073:hover {
        opacity: .8;
      }
      
      .jssora073.jssora073dn {
        opacity: .4;
      }
      
      .jssora073.jssora073ds {
        opacity: .3;
        pointer-events: none;
      }
      
      html.ios {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
      
      html.ios,
      html.ios body {
        height: initial !important;
      }
      
      @media screen and (max-width: 767px) {
        #sticky {
          visibility: hidden;
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
      #sitename{
        text-align: center !important;
        padding-left: 0px !important;
      }
    }
    @import url('jquery.sticklr.dark.css');

    header {
    background-color: #fff7e9 !important;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease !important
    ;
  }

    body{
      background-color: #fff7e9;
    }

    #footer{
    text-align: center;
    background-color: #FFB74D;
    padding-top: 20px;
    }

    #context{
    text-align: center;
    }
      #content{
      background-color: #fff7e9 !important;
      }

    a{
      color: black;
    }

    .brand-image{
    width: 100px;
    height: 40px;
    text-align: center; 
    }

    #site-statement{
    background-color: #ffe6b5;
    }